hr {
    border-top:5px white;
}
.logo{
    color:white;

}
.logo:hover{
    color:white;
}

#tdlogo{
    background-color: black;
    width:100%;
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212428 !important;
    position:relative;

}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background:#ffffff;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;

}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c62b19 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c62b19 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c62b19 !important;
}

.form_container{
    justify-content: center;
    margin-top:20%
}

.linkto{
    color:white;
}


.footer {
    position: absolute;
bottom:0;
width:100%;
  }

  #sticky-footer {
    flex-shrink: none;
  }

